# User-specific stuff
.idea/

*.iml
*.ipr
*.iws

# IntelliJ
out/
# mpeltonen/sbt-idea plugin
.idea_modules/

# General
.DS_Store
.AppleDouble
.LSOverride
.gradle/
build/

.gradle
build/

**/build/

# Common working directory
run/**

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradlew/*
!.settings/*

bin/
*.launch